.first-serch{
    width: 300px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
    font-family: tahoma ;
    border-radius: 15px ;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    margin: 0 auto;
    border: 1px solid;
    transition: 0.5s;
    margin-top: 40px;
    margin-bottom: 15px;
}
.first-serch:hover{
    background-color: rgb(221, 221, 221);
    width: 330px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    border: 2px solid black;
    transition: 0.5;
    margin-top: 40px;
}
.first-serch:focus{
    background-color: rgb(255, 255, 255);
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px solid black;
    margin-top: 40px;
}
.photo{
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 1px solid black;
    margin: 7px;
    transition:  0.5s ;

}
.photo img{
    height: 90px;;
    border-radius: 10px;
    transition:  0.5s;
}
.photo:hover{
    padding-bottom: 40px;
}
.photo img:hover{
    width: auto;
    height: 125px;
    
}

